[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/luawrapper"]
	path = ext/luawrapper
	url = https://github.com/jsjolund/luawrapper.git
[submodule "ext/qt-unix-signals"]
	path = ext/qt-unix-signals
	url = https://github.com/jsjolund/qt-unix-signals.git
[submodule "ext/rapidcsv"]
	path = ext/rapidcsv
	url = https://github.com/jsjolund/rapidcsv
[submodule "ext/cpptoml"]
	path = ext/cpptoml
	url = https://github.com/jsjolund/cpptoml
