[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/luawrapper"]
	path = ext/luawrapper
	url = https://github.com/jsjolund/luawrapper.git
[submodule "ext/CLI11"]
	path = ext/CLI11
	url = https://github.com/CLIUtils/CLI11.git
